@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #181818;
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

.teko {
  font-family: Teko, sans-serif;
}

.archivo {
  font-family: "Archivo Black", sans-serif;
  line-height: 56px;
}

.fade-in {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
